<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Edit page</title>
</head>
<body>
<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Learning Platform</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="http://localhost:8086/course/add">Add course</a>
            <a class="nav-link" href="http://localhost:8086/module/add">Add module</a>
            <a class="nav-link" href="http://localhost:8086/lecture/add">Add lecture</a>
            <a class="nav-link" href="http://localhost:8086/question/add">Add question</a>
            <a class="nav-link" href="http://localhost:8086/user/get">Get users</a>
            <a class="nav-link" href="http://localhost:8086/user">Profile</a>
        </div>
    </div>
</nav>
<div>
    <!--    <form action="#" th:action="@{/course/submit}" th:object="${newC}" method="post">-->
        <form action="#" th:action="@{/course/update/{id}(id=${updateObject.id})}" th:object="${updateObject}" method="post">

        <div class="form-row">
            <div class="form-group">
                <label for="course"> Edit Course title</label>
                <input type="text" class="form-control" id="course" placeholder="HTML 5" th:field="*{name}">
            </div>
        </div>
        <button type="submit" class="btn btn-primary" value="Submit">Edit</button>
    </form>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th>Course title</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="d : ${all}">
            <tr>
                <td th:text="${d.name}"></td>
                <td>
                    <a th:href="@{/course/delete/{id}(id=${d.id})}">delete</a>
                    <a th:href="@{/course/edit/{id}(id=${d.id})}">update</a>
<!--                    <button type="button" class="btn">Delete</button>-->
<!--                    <button type="button" class="btn">Update</button>-->
                </td>
            </tr>

        </th:block>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>