<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>User Registration page</title>
</head>
<body>
<div>
    <h1>User Registration form</h1><br>
    <form action="#" th:action="@{/user/submit}" th:object="${newC}" method="post">
        <div class="form-row">
            <div class="form-group">
                <label for="firstname"> First name</label>
                <input type="text" class="form-control" id="firstname" placeholder="Maria" th:field="*{name}" required>
            </div>
            <div class="form-group">
                <label for="lastname"> Last name</label>
                <input type="text" class="form-control" id="lastname" placeholder="Anderson"
                       th:field="*{lastname}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email" th:field="*{email}" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="pass">Password</label>
                <input type="password" class="form-control" id="pass" placeholder="password.." th:field="*{password}"
                       required>
                <div th:if="${errorMessage}" class="error-message" th:text="${errorMessage}"> asdsad</div>
            </div>
            <div class="form-group">
                <label for="pass2">Verify Password</label>
                <input type="password" class="form-control" id="pass2" placeholder="verify password" th:field="*{password2}" required>
                <p th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}">password doesn't mach</p>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputState">Select course you want to join</label>
                <select id="inputState" class="form-control" th:field="*{course}">
                    <option th:each="i : ${dropdown}" th:value="${i.id}" th:text="${i.name}"></option>
                </select>
            </div>
            <br>
        </div>
        <button type="submit" class="btn btn-primary" value="Submit">Register</button>
    </form>
</div>
</body>
</html>